html
	&:not(.production)
		padding-bottom: 100vh

	font-family: sans-serif
	&.wf-active
		font-family: 'Open Sans', sans-serif

#new-note

	textarea
		resize: none
		height: 6rem

	#save-note[disabled]
		opacity: .5

#notes

	article
		&:hover .options
			opacity: 1
		.options
			transition: opacity .3s ease

[data-notification]
	transition: top ease .5s, opacity ease .3s
	width: 25rem
	box-shadow: 0 0 5px rgba(0, 0, 0, .5)
	border-width: 1px

	top: -3rem
	&[data-is-shown="true"]
		top: 2rem
		opacity: 1