$themeBackgroundColor: #f5f5f5
$themeDelimiterColor: #DCDCDC

html
	font-family: sans-serif
	&.wf-active
		font-family: 'Open Sans', sans-serif

main

	[data-note-id]

		article
			box-shadow: inset 0px -1px 2px 0px $themeDelimiterColor

		[data-role="author-handle"]:before
			content: '@'

		[data-role="note-content"], [data-role="actions-container"]
			width: calc(100% - 5rem)

		[data-role="actions-container"]
			transition: height .3s ease, opacity .3s ease

			height: 0
			&[data-open="true"]
				height: 2rem

			opacity: .3
			&:hover
				opacity: 1

[data-role="fab"]
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	transition: box-shadow ease .3s
	&:focus, &:hover
		box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23)

[data-modal="note-editing"]
	textarea
		resize: none
		height: 11rem
	[data-action="save-new-note"][disabled]
		opacity: .5